<form method="post" action="{{ path('app_post_delete', {'postId': post.postId}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cette publication ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.postId) }}">
    <button class="btn btn-danger" type="submit">Supprimer</button>
</form>