<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reclamation Resolved</title>
</head>
<body>
<p>Hello {{ user.prenom }} {{ user.nom }},</p>

<p>We are pleased to inform you that your reclamation (ID: {{ reclamation.reclamationId }}) has been <strong>resolved</strong>.</p>

<p>Thank you for helping us improve our platform!</p>

<p>Best regards,<br/>
    The Administration Team</p>
</body>
</html>
